el-header(id="header" style="border-bottom:#383838 20px solid; height:100px;box-sizing:content-box;")
  el-col(:span="14")
    a(:href="form.inviteCode == ''?'./index.html':'./index.html?code='+form.inviteCode")
      div(style="height:100px;display:flex;align-items:center;")
        img(:src="settings.logoPath" alt="" style="height:60px;display:inline-block;margin-right:20px")
        div(style="display:inline-block;")
          h1(:style="settings.titleStyle") {{settings.title}}
          h2(style="font-size:20px;color:#333;line-height:20px;margin-top:4px;") {{settings.subTitle}}
  el-col(:span="10" )
    template(v-if="token == null")
      div(style="text-align:right;")
        a(:href="form.inviteCode == ''?'./login.html':'./login.html?code='+form.inviteCode" v-if='settings.hasLogin' ) 
          el-button(:style="{'background-color':baseColor,'color':'#FFFFFF'}") ログイン
        a(:href="form.inviteCode == ''?'./register.html':'./register.html?code='+form.inviteCode" v-if='settings.hasRegister' ) 
          el-button(:style="{'background-color':baseColor,'color':'#FFFFFF'}") 新規登録
    template(v-else)
      el-dropdown
        span {{userName}}&nbsp;様
          i(class="el-icon-arrow-down el-icon--right")
      el-dropdown-menu(slot="dropdown")
        a(href="./changePassword.html") 
          el-dropdown-item パスワードを変更する
        a(@click="logOut")
          el-dropdown-item ログアウト
      a(v-if="role == 'Agency'" href="./agencyDownload.html" type="warning")
        el-button リストDL
      a(:href="role == 'Applicant'?'./manage.html':'./agencyManage.html'")
        el-button( type="warning") 申込管理