.link-button {
  border: 1px solid #3e8ee2;
  color: #3e8ee2;
  padding: 10px 20px;
  transition: all 0.3s;
  font-size: 16px;
}
.link-button:hover {
  border: 1px solid #3e8ee2;
  color: white;
  background-color: #3e8ee2 !important;
}
.patent-index .patent-index-search {
  width: 100%;
  position: relative;
}
.patent-index .patent-index-search .input-with-select {
  width: 60%;
  margin: 0px auto;
  border-radius: 15px;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}
.patent-index .patent-index-search .input-with-select .el-select .el-input {
  width: 180px;
}
.patent-index .patent-index-search .input-with-select .input-with-select .el-input-group__prepend {
  background-color: #fff;
  padding-right: 0px !important;
  border-radius: 15px 0 0 15px;
}
.patent-index .patent-index-search .input-with-select .el-input__inner {
  height: 80px;
  border: 1px solid #fff;
}
.patent-index .patent-index-search .input-with-select .el-button,
.patent-index .patent-index-search .input-with-select .el-button--success {
  color: white;
  background-color: #3e8ee2;
  margin: 0 5px;
  padding: 18px 30px;
  border-radius: 15px;
  margin-right: 10px;
}
.patent-index .patent-index-search .input-with-select .el-input-group__append {
  background-color: #fff !important;
  padding-right: 0px;
  border: 1px solid #fff;
}
.patent-index .patent-index-search img {
  width: 100%;
  height: auto;
  min-height: 240px;
  object-fit: cover;
  margin: 0px auto;
}
.patent-index .patent-index-body {
  padding-bottom: 97px;
}
.patent-index .patent-index-body .fix-container {
  display: flex;
  justify-content: space-between;
}
.patent-index .patent-index-body .patent-search .patent-search-content .fix-container .patent-search-content-item {
  cursor: pointer;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 20px;
  width: 280px;
  border: 1px solid rgba(0, 0, 0, 0);
  border-bottom-width: 10px;
  box-shadow: 0 0 20px 20px rgba(190, 179, 195, 0.1);
}
.patent-index .patent-index-body .patent-search .patent-search-content .fix-container .patent-search-content-item img {
  width: 80px;
}
.patent-index .patent-index-body .patent-search .patent-search-content .fix-container .patent-search-content-item h3 {
  font-size: 24px;
  margin-top: 26px;
}
.patent-index .patent-index-body .patent-search .patent-search-content .fix-container .patent-search-content-item P {
  font-size: 16px;
  margin-top: 14px;
}
.patent-index .patent-index-body .patent-search .patent-search-content .fix-container .patent-search-content-item:hover {
  border: 1px solid #3e8ee2;
  border-bottom-width: 10px;
}
.patent-index .patent-index-body .domain-specific-search .patent-search-content .fix-container .patent-search-content-item {
  cursor: pointer;
  padding: 40px 30px;
  background-color: #fff;
  border-radius: 20px;
  width: 380px;
  text-align: center;
  transition: all 0.3s;
  box-shadow: 0 0 20px 20px rgba(190, 179, 195, 0.1);
}
.patent-index .patent-index-body .domain-specific-search .patent-search-content .fix-container .patent-search-content-item img {
  width: 110px;
  margin: 0px auto;
}
.patent-index .patent-index-body .domain-specific-search .patent-search-content .fix-container .patent-search-content-item h3 {
  font-size: 24px;
  margin-top: 26px;
  text-align: center;
}
.patent-index .patent-index-body .domain-specific-search .patent-search-content .fix-container .patent-search-content-item P {
  font-size: 14px;
  margin-top: 14px;
  text-align: center;
}
.patent-index .patent-index-body .domain-specific-search .patent-search-content .fix-container .patent-search-content-item:hover {
  background-color: #3e8ee2;
  color: #fff;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item {
  padding: 40px 20px 20px;
  background-color: #fff;
  box-shadow: 0 0 20px 20px rgba(190, 179, 195, 0.1);
  border-radius: 20px;
  width: 380px;
  text-align: center;
  transition: all 0.3s;
  cursor: pointer;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item img {
  width: 110px;
  margin: 0px auto;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item h3 {
  font-size: 24px;
  margin-top: 26px;
  text-align: center;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item P {
  font-size: 14px;
  margin-top: 14px;
  text-align: center;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item .tag-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 24px;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item .tag-list li {
  margin: 6px 0px;
  font-size: 12px;
  width: 49%;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item .tag-list li span {
  color: #666;
  font-size: 14px;
  line-height: 14px;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item:nth-child(3) .tag-list li:nth-child(1),
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item:nth-child(3) .tag-list li:nth-child(2) {
  width: 50%;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item:nth-child(3) .tag-list li:nth-child(3),
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item:nth-child(3) .tag-list li:nth-child(4) {
  width: 100%;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item:hover {
  background-color: #3e8ee2;
  color: #fff;
}
.patent-index .patent-index-body .intellectual-property-consulting .patent-search-content .fix-container .patent-search-content-item:hover span {
  color: white !important;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .el-tabs__item {
  height: auto;
  padding: 45px;
  background-color: #fff;
  width: 380px;
  text-align: left;
  margin-bottom: 20px;
  border-radius: 20px;
  color: #2f374b;
  cursor: pointer;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .el-tabs__nav-wrap {
  overflow: visible;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .el-tabs__nav-scroll {
  overflow: visible;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .is-active {
  background-color: #3e8ee2;
  color: #fff;
  transition: all 0.3s;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .is-active::after {
  content: " ";
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-style: solid;
  right: -10px;
  border-right: none;
  top: 40%;
  margin-left: -6px;
  border-width: 10px;
  border-right-width: 10px;
  border-color: #fff;
  border-left-color: #3e8ee2;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .el-tabs__active-bar {
  display: none;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .el-tabs__nav-wrap::after {
  background-color: #fff;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .el-tabs__nav-wrap::after {
  display: none;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .label-sm {
  display: none;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .label-lg {
  display: block;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body {
  margin-left: 24px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul {
  background-color: #fff;
  border-radius: 20px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li {
  justify-content: start;
  padding: 23px 25px;
  border-bottom: 1px solid #dddddd;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li:last-child {
  border: none;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li img {
  width: 190px;
  height: 115px;
  object-fit: cover;
  border-radius: 12px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text {
  margin-left: 24px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text h3 {
  font-weight: 400;
  font-size: 18px;
  text-align: left;
  color: #2f374b;
  margin-bottom: 18px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text span {
  font-weight: 400;
  font-size: 14px;
  text-align: left;
  align-items: center;
  color: #999 !important;
  margin-right: 25px;
  line-height: 14px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text .data {
  position: relative;
  line-height: 18px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text .data:before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../img/icon/patent-data.png") no-repeat center;
  background-size: 18px;
  vertical-align: top;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text .view {
  position: relative;
  line-height: 18px;
}
.patent-index .patent-index-body .intell-property-training .patent-search-content .tab-body ul li .text .view:before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../img/icon/patent-view.png") no-repeat center;
  background-size: 18px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .address-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.patent-index .patent-index-body .contact-us-container .address-info img {
  width: 545px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text {
  width: 46%;
}
.patent-index .patent-index-body .contact-us-container .address-info .text h3 {
  font-size: 18px;
  position: relative;
  line-height: 24px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text h3:before {
  content: " ";
  display: inline-block;
  height: 24px;
  width: 24px;
  margin-right: 5px;
  background: url("../img/icon/patent-location.png") no-repeat center;
  background-size: 24px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .address-info .text p {
  font-size: 16px;
  margin-top: 16px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .url {
  position: relative;
  line-height: 18px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .url:before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../img/icon/patent-url.png") no-repeat center;
  background-size: 18px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .add {
  position: relative;
  line-height: 18px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .add:before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../img/icon/patent-add.png") no-repeat center;
  background-size: 18px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .tel {
  position: relative;
  line-height: 18px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .tel:before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../img/icon/patent-tel.png") no-repeat center;
  background-size: 18px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .email {
  position: relative;
  line-height: 18px;
}
.patent-index .patent-index-body .contact-us-container .address-info .text .email:before {
  content: " ";
  display: inline-block;
  height: 18px;
  width: 18px;
  margin-right: 5px;
  background: url("../img/icon/patent-email.png") no-repeat center;
  background-size: 18px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .user-info-form {
  margin-top: 25px;
}
.patent-index .patent-index-body .contact-us-container .user-info-form h3 {
  position: relative;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 20px;
}
.patent-index .patent-index-body .contact-us-container .user-info-form h3:before {
  content: " ";
  display: inline-block;
  height: 28px;
  width: 28px;
  margin-right: 5px;
  background: url("../img/icon/patent-us-serve.png") no-repeat center;
  background-size: 28px;
  vertical-align: top;
}
.patent-index .patent-index-body .contact-us-container .user-info-form .el-form-item {
  margin-bottom: 8px;
}
.patent-index .patent-index-body .contact-us-container .user-info-form .el-input {
  width: 70%;
  height: 36px;
}
.patent-index .patent-index-body .contact-us-container .user-info-form .el-form-item__label {
  font-size: 16px;
  color: #333;
  font-weight: 400;
}
.patent-index .patent-index-body .contact-us-container .user-info-form .el-checkbox__label {
  font-size: 16px;
  color: #666;
}
.patent-index .patent-index-body .contact-us-container .user-info-form .el-input__inner {
  height: 36px;
}
.patent-index .patent-index-body .contact-us-container .user-info-form .form {
  padding: 0 15px;
  overflow: hidden;
}
.patent-index .patent-index-body .contact-us-container .user-info-form textarea {
  height: 145px;
}
.patent-index .patent-index-body .contact-us {
  padding-bottom: 30px;
}
.patent-index .intellectual-property-research {
  position: relative;
  padding-bottom: 115px;
  background: url("../img/patent-Intellectual-property.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.patent-index .intellectual-property-research .fix-container {
  width: 1199px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.patent-index .intellectual-property-research .fix-container .patent-search-content-item {
  padding: 0;
  background-color: #fff;
  width: 280px;
}
.patent-index .intellectual-property-research .fix-container .patent-search-content-item img {
  display: block;
  width: 175px;
  height: 245px;
  margin: 40px auto 0;
}
.patent-index .intellectual-property-research .fix-container .patent-search-content-item P {
  font-size: 16px;
  margin-top: 14px;
  padding: 24px;
  color: #fff;
  background-color: #3e8ee2;
  text-align: center;
  height: 90px;
}
.patent-index .intellectual-property-research .tool-title {
  padding: 114px 0 53px;
}
.patent-index .intellectual-property-research .tool-title h2 {
  color: white;
}
.patent-index .intellectual-property-research .tool-title p {
  color: #a8b6cb;
}
.patent-index .intellectual-property-research img {
  width: 100%;
  height: auto;
  min-height: 240px;
  object-fit: cover;
  margin: 0px auto;
}
.energy-knowledge .comprehensive-energy-knowledge {
  position: relative;
}
.energy-knowledge .comprehensive-energy-knowledge .comprehensive-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.energy-knowledge .comprehensive-energy-knowledge .comprehensive-text h1 {
  font-weight: 700;
  font-size: 70px;
  text-align: center;
  color: #ffffff;
  text-shadow: 7px 10px 12px rgba(25, 87, 138, 0.5);
}
.energy-knowledge .comprehensive-energy-knowledge .comprehensive-text h4 {
  text-transform: uppercase;
  font-size: 20px;
  text-align: center;
  margin-top: 30px;
  color: #ffffff;
  text-shadow: 5px 10px 5px rgba(2, 2, 2, 0.7);
}
.energy-knowledge .breadcrumb-container {
  background-color: inherit;
}
.energy-knowledge .breadcrumb-container .breadcrumb {
  background-color: inherit;
}
.energy-knowledge .el-button {
  border-color: #3e8ee2 !important;
  color: #3e8ee2 !important;
}
.energy-knowledge .energy-knowledge-body .tool-title {
  padding: 0px 0 44px;
}
.energy-knowledge .energy-knowledge-body .tool-title h2,
.energy-knowledge .energy-knowledge-body .tool-title p {
  text-align: left;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy {
  display: flex;
  justify-content: space-between;
  margin: 90px 0 115px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text {
  width: 48%;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .tool-title {
  padding: 0px 0 44px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .tool-title h2,
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .tool-title p {
  text-align: left;
  color: #3e8ee2;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .tool-title h2 {
  font-size: 36px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .tool-title p {
  font-size: 18px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list li {
  margin-bottom: 38px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list li h3 {
  font-size: 16px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list li p {
  font-size: 14px;
  color: #999;
  margin-top: 19px;
  line-height: 21px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list a {
  display: block;
  width: 100%;
  background-color: #3e8ee2;
  padding: 28px 170px;
  justify-content: space-around;
  color: white;
  text-align: center;
  display: flex;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list a h3 {
  display: block;
  margin: 0px auto;
  font-size: 20px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list a p {
  font-size: 14px;
  text-align: left;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .text .news-list a .bi {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 25px;
  font-size: 16px;
  margin-top: 5px;
  margin-left: 33px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .news-details {
  width: 48%;
  border: 1px solid #dddddd;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .news-details img {
  width: 100%;
  height: 484px;
  object-fit: cover;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .news-details .news-details-text {
  padding: 0px 25px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .news-details .news-details-text h4 {
  font-size: 16px;
  margin-top: 30px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .news-details .news-details-text p {
  font-size: 14px;
  color: #999;
  margin-top: 14px;
}
.energy-knowledge .energy-knowledge-body .energy-pllicy .news-details .news-details-text span {
  font-size: 16px;
  color: #000;
  margin-top: 31px;
  display: block;
}
.energy-knowledge .energy-knowledge-body .energy-news .text {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.energy-knowledge .energy-knowledge-body .energy-news .text .tool-title {
  padding: 0;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details {
  margin-top: 35px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li {
  display: flex;
  justify-content: start;
  margin-left: 20px;
  border-right: 1px solid #ddd;
  padding: 10px 0;
  padding-right: 20px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li:last-child {
  border-right: none;
  padding-right: 0;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li:first-child {
  margin-left: 0px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li .data {
  width: 30%;
  text-align: right;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li .data h2 {
  font-size: 28px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li .data span {
  color: #666;
  font-size: 16px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li .detail {
  box-sizing: content-box;
  margin-left: 16px;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li .detail span {
  font-size: 14px;
  color: #999;
}
.energy-knowledge .energy-knowledge-body .energy-news .news-details .news-details-text ul li .detail h4 {
  font-size: 16px;
  line-height: 29px;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation {
  margin-top: 100px;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .text {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .text .tool-title {
  padding: 0;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details {
  margin-top: 35px;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details .news-details-text ul {
  display: flex;
  justify-content: space-between;
  margin-top: 32px;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details .news-details-text ul li {
  width: 32%;
  padding: 14px;
  background-color: #fff;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details .news-details-text ul li img {
  width: 100%;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details .news-details-text ul li h3 {
  font-size: 14px;
  margin-top: 19px;
  font-weight: 500;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details .news-details-text ul li p {
  font-size: 14px;
  line-height: 23px;
  margin-top: 16px;
  color: #999;
}
.energy-knowledge .energy-knowledge-body .policy-interpretation .news-details .news-details-text ul li .link-button {
  display: inline-block;
  margin: 33px auto 15px;
  margin-left: 50%;
  transform: translateX(-50%);
}
.energy-knowledge .energy-knowledge-body .video-interpretation {
  margin-top: 100px;
  margin-bottom: 170px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .text {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .text .tool-title {
  padding: 0;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details {
  margin-top: 35px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text {
  display: flex;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text .video-info {
  width: 490px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text .video-info video {
  width: 490px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text .video-info h3 {
  font-size: 20px;
  line-height: 29px;
  margin: 23px 0 20px;
  font-weight: bold;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text .video-info P {
  border-top: 1px solid #ddd;
  font-size: 13px;
  font-weight: 400;
  color: #000000;
  line-height: 29px;
  padding-top: 14px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul {
  margin-left: 45px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li {
  margin-bottom: 23px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li a {
  display: flex;
  justify-content: space-between;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li a img {
  display: block;
  width: 227px;
  height: 137px;
  min-width: 227px;
  min-height: 137px;
  object-fit: cover;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li a .more-video-info {
  margin-left: 26px;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li a .more-video-info h3 {
  font-size: 20px;
  color: #000;
  font-weight: bold;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li a .more-video-info p {
  font-size: 14px;
  line-height: 29px;
  margin-top: 16px;
  color: #000;
}
.energy-knowledge .energy-knowledge-body .video-interpretation .news-details .news-details-text ul li .link-button {
  margin: 33px auto 15px;
}
.energy-knowledge .expert-opinion {
  position: relative;
  padding-bottom: 105px;
  margin-top: 85px;
  background: url("../img/energy-expert-opinion.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.energy-knowledge .expert-opinion .fix-container {
  width: 1199px;
  margin: 0px auto;
  display: flex;
  justify-content: space-between;
}
.energy-knowledge .expert-opinion .fix-container .patent-search-content-item {
  padding: 0;
  background-color: #fff;
  padding: 62px 26px 43px;
  text-align: center;
  width: 31%;
}
.energy-knowledge .expert-opinion .fix-container .patent-search-content-item img {
  display: block;
  width: 50%;
  border-radius: 50%;
  margin: 0 auto;
}
.energy-knowledge .expert-opinion .fix-container .patent-search-content-item h3 {
  font-size: 20px;
  margin-top: 40px;
}
.energy-knowledge .expert-opinion .fix-container .patent-search-content-item h4 {
  font-size: 14px;
  margin-top: 16px;
}
.energy-knowledge .expert-opinion .fix-container .patent-search-content-item P {
  font-size: 14px;
  color: #999;
  margin-top: 15px;
  margin-bottom: 21px;
}
.energy-knowledge .expert-opinion .more-button {
  width: 100%;
  margin-top: 61px;
}
.energy-knowledge .expert-opinion .more-button .link-button {
  display: inline-block;
  background-color: #fff;
  margin: 0px auto;
  margin-left: 50%;
  transform: translateX(-50%);
}
.energy-knowledge .expert-opinion .tool-title {
  padding: 103px 0 59px;
}
.energy-knowledge .expert-opinion .tool-title h2 {
  color: white;
}
.energy-knowledge .expert-opinion .tool-title p {
  color: #a8b6cb;
}
.energy-knowledge .expert-opinion img {
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0px auto;
}
