@import (reference) "core.less";

.link-button {
	// display: block;
	border: 1px solid #3e8ee2;
	color: #3e8ee2;
	padding: 12px 20px;
	transition: all 0.3s;
	font-size: 16px;
}

.link-button:hover {
	// display: block;
	border: 1px solid #3e8ee2;
	color: white;
	background-color: #3e8ee2 !important;
}

.el-button--primary {
	background-color: #3e8ee2 !important;
}

a {
	color: #038de2;
}
html {
	&::-webkit-scrollbar {
		width: 8px;
	}

	&::-webkit-scrollbar-track {
		background-color: transparent;
	}

	&::-webkit-scrollbar-thumb {
		background-color: #7259ff38; /* 淡紫色 */
		border-radius: 10px; /* 滑块的圆角 */
		border: 2px solid transparent; /* 使滑块的内容透明 */
		background-clip: content-box; /* 不要让背景延伸到border */
	}
}
.index-header {
	width: 100%;
	height: 400px;
	background-image: url(../img/banner_bg.c7b00fb.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	margin: 0 auto;
	text-align: center;
	position: relative;

	.header-container {
		position: absolute;
		width: 45%;
		transform: translate(-50%, -50%);
		left: 50%;
		top: 50%;

		h3 {
			font-family: "Source Han Sans CN";
			font-size: 30px;
			font-weight: 800;
			color: #3b58fe;
			font-family: "幼圆";
			margin-right: 24px;
			margin-bottom: 35px;
			letter-spacing: 8px;
		}

		.hot-search {
			display: flex;
			width: max-content;
			margin: 0px auto;
			margin-top: 16px;

			h5 {
				font-family: "Source Han Sans CN";
				font-weight: 500;
				font-size: 16px;
				color: #3b58fe;
				margin-right: 24px;
				line-height: 20px;
			}

			ul {
				display: flex;
				justify-content: start;

				li {
					text-decoration: none;
					padding: 3px 6px;
					background: rgba(59, 88, 254, 0.1);
					margin-right: 24px;
					border-radius: 3px;
					font-size: 14px;
					color: #3b58fe;
					margin-right: 24px;
				}
			}
		}

		.el-input-group--append .el-input__inner,
		.el-input-group__prepend {
			height: 52px;
			background: hsla(0, 0%, 100%, 0.8);
			border: none;
			font-family: "Microsoft YaHei";
			font-style: normal;
			font-weight: 400;
			font-size: 16px;
			line-height: 21px;
			color: #333;
			flex: 1;

			.el-input__inner {
				padding: 0 0px;
			}
		}

		.el-input__inner {
			padding: 0px;
		}

		.el-input-group__append {
			width: 80px;
			height: 54 px;
			background: #3b58fe;
			border-radius: 0 3px 3px 0;
			border: none;
			font-size: 16px;
			color: #fff;
			margin-left: -7px;
			cursor: pointer;
		}
	}
}

.index-page {
	.page-index-container {
		.news-list {
			margin-top: 30px;

			ul {
				display: flex;
				justify-content: space-between;

				li {
					cursor: pointer;
					display: flex;
					flex-direction: row;
					align-items: flex-start;
					padding: 16px;
					box-sizing: border-box;
					gap: 4px;
					isolation: isolate;
					width: 377px;
					height: 104px;
					background: linear-gradient(96.88deg, #fff, #fff);
					border-radius: 4px;
					position: relative;
					overflow: hidden;

					&:hover {
						box-shadow: 0 8px 16px rgba(0, 0, 0, 0.12);
					}

					.text {
						height: 100%;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						margin-top: auto;
						display: flex;
						font-weight: 400;
						font-size: 14px;
						line-height: 19px;
						color: #8c8c8c;
						padding: 0;
						gap: 12px;
						flex: 1;

						h4 {
							font-weight: 600;
							font-size: 16px;
							line-height: 21px;
							color: #333;
							overflow: hidden;
							text-overflow: ellipsis;
							display: -webkit-box;
							-webkit-line-clamp: 2;
							-webkit-box-orient: vertical;
						}

						span {
							padding-right: 8px;
							border-right: 1px solid #e6e6e8;
							max-width: 168px;
							text-overflow: ellipsis;
							overflow: hidden;
							white-space: nowrap;

							&:nth-of-type(2) {
								padding-left: 8px;
								white-space: nowrap;
								border: none;
							}
						}
					}

					.news-image {
						width: 76px;
						height: 76px;
						background-color: #3b58fe;
						position: relative;
						border-radius: 10px;

						img {
							width: 72px;
							height: 72px;
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
							border-radius: 7px;
						}

						span {
							width: 100%;
							color: white;
							position: absolute;
							background-color: #3b58fe;
							text-align: center;
							bottom: 0;
							border-radius: 0 0 10px 10px;
							line-height: 22px;
							font-size: 13px;
						}
					}
				}
			}
		}
	}

	.index-data {
		margin: 40px auto 0;

		.container-title {
			text-align: center;

			h3 {
				font-family: "Microsoft YaHei UI";
				font-weight: 600;
				font-size: 24px;
				color: #333;
			}
		}
	}
}

.data-page {
	.page-data-container {
		width: 1180px;
		margin: 24px auto 0;
		display: flex;
		justify-content: space-between;

		.container-left {
			.menu-box {
				padding: 20px;
				width: 196px;
				background: #fff;
				border-radius: 6px;
				position: sticky;
				position: -webkit-sticky;
				top: 84px;

				.menu-item {
					height: 38px;
					display: flex;
					align-items: center;
					padding: 0 12px;
					width: 100%;
					justify-content: space-between;
					box-sizing: border-box;
					cursor: pointer;

					&:hover {
						background: rgba(59, 88, 254, 0.1);
						border-radius: 3px;
					}

					.left {
						display: flex;
						align-items: center;
						position: relative;

						.icon {
							width: 16px;
							height: 16px;
						}

						span {
							font-family: "Source Han Sans CN";
							font-style: normal;
							font-weight: 500;
							font-size: 14px;
							margin-left: 10px;
						}
					}

					.count {
						width: 40px;
						height: 21px;
						line-height: 21px;
						background: rgba(59, 88, 254, 0.1);
						border-radius: 18px;
						color: #3b58fe;
						text-align: center;
					}
				}
			}
		}

		.container-right {
			width: 924px;
			height: max-content;

			.item-box {
				border-radius: 6px;
				margin-bottom: 20px;
				overflow: hidden;
				width: 924px;
				background: #fff;

				.title {
					height: 53px;
					box-shadow: inset 0 -1px 0 #e6e6e8;
					display: flex;
					align-items: center;
					width: 924px;
					background: #fff;

					&:before {
						content: "";
						display: block;
						width: 3px;
						height: 20px;
						background: #3b58fe;
						border-radius: 0 2px 2px 0;
					}

					span {
						margin-left: 17px;
						font-family: "Microsoft YaHei";
						font-style: normal;
						font-weight: 600;
						font-size: 16px;
						line-height: 21px;
						color: #333;
					}
				}

				.content-box {
					padding: 4px 20px 20px;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;

					.content {
						padding: 12px;
						display: flex;
						width: 408px;
						height: 36px;
						background: #fff;
						border: 1px solid #e6e6e8;
						border-radius: 4px;
						align-items: center;
						justify-content: space-between;
						margin-top: 16px;
						cursor: pointer;
						position: relative;
						overflow: hidden;

						.content-img {
							background: #3b58fe;
							background-position: 50% 50%;
							background-repeat: no-repeat;
							width: 36px;
							height: 36px;
							border-radius: 5px;
							background: #3b58fe;
							position: relative;

							img {
								width: 16px;
								height: 16px;
								position: absolute;
								top: 50%;
								left: 50%;
								transform: translate(-50%, -50%);
							}
						}

						.content-title {
							width: 360px;
							font-family: "Microsoft YaHei UI";
							font-style: normal;
							font-weight: 600;
							font-size: 14px;
							color: #333;
						}
					}
				}

				&:nth-child(4n + 3) {
					.content-box {
						.content {
							.content-img {
								background: #15cfc4;
							}
						}
					}
				}

				&:nth-child(4n + 2) {
					.content-box {
						.content {
							.content-img {
								background: #2189f8;
							}
						}
					}
				}

				&:nth-child(4n + 4) {
					.content-box {
						.content {
							.content-img {
								background: #34d47e;
							}
						}
					}
				}
			}
		}
	}
}

.data-detail-page {
	.el-table th {
		background-color: #3b58fe;
		border-right: 1px dashed hsla(0, 0%, 100%, 0.2);
		border-bottom: 1px dashed hsla(0, 0%, 100%, 0.2);
		height: 50px;
		text-align: center;
		box-sizing: border-box;
		font-weight: 600;
		padding: 0;
		font-size: 14px;
		line-height: 16px;
		color: #fff;
		background: #3b58fe;
	}

	.el-table--striped .el-table__body tr.el-table__row--striped td {
		background-color: #f2f1f1;
	}

	.el-table__body,
	.el-table__footer,
	.el-table__header {
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}

	.page-data-container {
		.breadcrumb {
			gap: 4px;
			width: 1180px;
			height: 35px;
			line-height: 35px;
			padding: 0 10px;
			box-sizing: border-box;
			font-size: 14px;
			color: #8c8c8c;
			background-color: #f4f3f8;
			position: sticky;
			top: 60px;
			z-index: 11;

			a {
				text-decoration: none;
				font-size: 14px;
				line-height: 35px;
				color: #3b58fe;
			}
		}

		.main-container {
			.main-box {
				width: 300px;
				height: auto;
				border-radius: 4px;
				filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.12));
				position: sticky;
				top: 95px;
				z-index: 12;
			}

			.data-main {
				width: 868px;
				padding: 0 0 20px 12px;

				.top-controll {
					border-bottom: 16px solid #fff;
					background-color: #f4f3f8;
					position: sticky;
					top: 95px;
					z-index: 11;
					border-radius: 5px;
					overflow: hidden;

					.table-title {
						display: flex;
						flex-direction: row;
						justify-content: space-between;
						align-items: center;
						height: 53px;
						line-height: 53px;
						background: #fff;
						box-shadow: inset 0 -1px 0 #e6e6e8;
						padding: 0 16px;
						position: relative;
						font-weight: 600;
						font-size: 18px;
						color: #333;

						&:before {
							content: "";
							width: 3px;
							height: 24px;
							background: #3b58fe;
							border-radius: 0 2px 2px 0;
							position: absolute;
							top: 50%;
							left: 0;
							transform: translateY(-50%);
						}

						.download {
							width: 76px;
							height: 32px;
							border-radius: 3px;
							border: 1px solid #ccc;
							font-size: 14px;
							font-weight: 400;
							color: #333;
							line-height: 32px;
							text-align: center;
							cursor: pointer;
						}
					}
				}
			}
		}
	}
}

.chat-page {
	background-image: linear-gradient(to bottom right, #ddebfe, #f2f2fe);

	.ai-container {
		display: flex;
		padding-top: 30px;
		height: 80vh;
		min-height: 800px;
		padding-bottom: 32px;

		.slide-bar {
			width: 280px;
			padding: 24px;
			padding-right: 5px;
			box-sizing: border-box;
			background: hsla(0, 0%, 100%, 0.7);
			border-radius: 24px 0 0 24px;

			.ai-logo {
				text-align: center;
				margin: 18px 10px 30px;

				img {
					width: 80px;
					height: 80px;
				}
			}

			.chat-list {
				height: 80%;
				overflow-y: scroll;
				overflow-x: clip;
				padding-right: 5px;
				&::-webkit-scrollbar {
					width: 8px;
				}

				&::-webkit-scrollbar-track {
					background-color: transparent;
				}

				&::-webkit-scrollbar-thumb {
					background-color: #7259ff38; /* 淡紫色 */
					border-radius: 10px; /* 滑块的圆角 */
					border: 2px solid transparent; /* 使滑块的内容透明 */
					background-clip: content-box; /* 不要让背景延伸到border */
				}

				.list-header-wrap {
					background: #7359ff;
					height: 48px;
					font-weight: 800;
					border-radius: 12px;
					font-size: 19px;
					background: rgba(186, 179, 255, 0.3);
					display: -webkit-box;
					display: -webkit-flex;
					display: flex;
					-webkit-box-align: center;
					-webkit-align-items: center;
					align-items: center;
					margin-top: 10px;
					z-index: 2;

					i {
						width: 20px;
						height: 20px;
						margin: 0 10px 0 15px;
						font-size: 22px;
						color: blue;
						color: #5240ff;
					}

					.title {
						color: #5240ff;
					}
				}

				ul {
					li {
						display: flex;

						height: 56px;
						align-items: center;
						margin-top: 6px;

						span {
							background: rgba(82, 64, 255, 0.12);
							width: 36px;
							height: 36px;
							text-align: center;
							font-size: 14px;
							line-height: 36px;
							color: #5240ff;
							border-radius: 50%;
							font-weight: 600;
							margin: 0 6px 0 0;
							min-width: 36px;
						}

						.chatinfo {
							margin-right: auto;
							display: -webkit-box;
							display: -webkit-flex;
							display: flex;
							-webkit-box-orient: vertical;
							-webkit-box-direction: normal;
							-webkit-flex-direction: column;
							flex-direction: column;
							width: 207px;

							.title {
								text-overflow: ellipsis;
								white-space: nowrap;

								display: block;
								overflow: hidden;
								font-size: 14px;
								color: #1f1f1f;
								letter-spacing: 0;
								line-height: 24px;
							}

							.time {
								font-size: 12px;
								letter-spacing: 0;
								line-height: 15px;
								color: #b7b9c1;
							}
						}

						&:hover {
							span {
								background: rgba(82, 64, 255, 0.22);
							}

							.title {
								color: #3b58fe;
							}

							.time {
								color: #3b58fe;
							}

							cursor: pointer;
						}
					}

					.history-select {
						span {
							background: rgba(82, 64, 255, 0.22);
						}

						.chatinfo {
							.title {
								color: #3b58fe;
							}

							.time {
								color: #3b58fe;
							}
						}
					}
				}
			}
		}
	}

	.message-container {
		position: relative;
		height: 100%;
		min-height: 600px;
		width: 864px;

		.message-list {
			padding-right: 24px;
			padding-left: 32px;
			-webkit-box-sizing: border-box;
			box-sizing: border-box;
			position: relative;
			background: aliceblue;
			border-radius: 0 24px 24px 0;
			overflow: hidden;
			height: 100%;
			overflow-y: scroll;
			padding-bottom: 80px;

			&::-webkit-scrollbar {
				width: 8px;
			}

			&::-webkit-scrollbar-track {
				background-color: transparent;
			}

			&::-webkit-scrollbar-thumb {
				background-color: #7259ff38; /* 淡紫色 */
				border-radius: 10px; /* 滑块的圆角 */
				border: 2px solid transparent; /* 使滑块的内容透明 */
				background-clip: content-box; /* 不要让背景延伸到border */
			}
			.tab-list {
				width: 100%;
				background-color: aliceblue;
				padding-bottom: 30px;
				position: relative;
				padding-top: 10px;
				.change-model {
					position: sticky;
					top: 0px;
					max-width: 150px;
					background-color: #fff;
					z-index: 1;
					text-align: center;
					margin: 0px auto;
					padding: 10px;
					border-radius: 10px;
					-webkit-box-shadow: 0 8px 20px 0 rgba(179, 178, 255, 0.347);
					box-shadow: 0 8px 20px 0 rgba(179, 178, 255, 0.305);
					max-height: 15px;
					overflow: hidden;
					opacity: 0.7;
					cursor: pointer;
					transition: all 0.3s;
					.model-tab {
						ul {
							display: flex;
							justify-content: space-between;
							margin-top: 15px;
							li {
								text-align: center;
								width: 30%;
								height: 40px;
								line-height: 40px;
								border-left: 1px solid #eee;
								box-sizing: border-box;
								position: relative;
								span {
									z-index: 2;
									position: relative;
								}
							}
							.model-select {
								color: #fff;
								&:before {
									content: " ";
									transition: all 0.3s;
									display: block;
									width: 100%;
									height: 100%;
									background-color: #5240ff;
									color: #fff;
									border-radius: 7px;
									position: absolute;
									left: 0px;
								}
							}
						}
					}
				}
				.hover-change-model {
					max-height: 69px;
					max-width: 300px;
					opacity: 1;
				}
				.el-tabs__header {
					padding: 0;
					position: sticky;
					margin: 0 0 15px;
					top: 0;
					z-index: 1;
					background-color: aliceblue;
				}
				.chat-position-answer {
					width: max-content;
				}
			}
			.hello-container {
				padding: 13px 19px;

				h1 {
					font-weight: 700;
					bottom: 0;
					font-size: 36px;
					font-family: Arial, sans-serif;
					margin-bottom: 15px;
				}

				.recommend-list {
					ul {
						display: flex;
						flex-wrap: wrap;
						justify-content: space-between;

						li {
							&:hover {
								background: #f2f2ff;
							}

							padding: 10px 21px;
							box-sizing: border-box;
							width: 30%;
							font-size: 29px;
							height: 100px;
							border-radius: 18px;
							display: block;
							position: relative;
							cursor: pointer;
							background: #f7f7fe;
							margin-top: 20px;
							font-size: 15px;

							p {
								display: -webkit-box;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: normal;
								-webkit-line-clamp: 2;

								span {
									font-size: 18px;
									padding-right: 5px;
									padding-left: 5px;
									line-height: 26px;
								}
							}

							a {
								display: block;
								background: #dcd9ff;
								color: #5240ff;
								font-size: 14px;
								cursor: pointer;
								height: 32px;
								width: 66px;
								line-height: 32px;
								font-family: Arial, sans-serif;
								font-weight: 500;
								font-family: PingFangSC-Semibold, Arial, sans-serif;
								color: #5240ff;
								background: #ebe9ff;
								-webkit-tap-highlight-color: transparent;
								position: absolute;
								right: 21px;
								bottom: 10px;
								text-align: center;
								border-radius: 20px;
							}
						}
					}
					
			.jumping-dots {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				position: relative;
				top: -10px;
				height: 15px;

				.dot {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: #7359ff;
					/* dot color */
					position: relative;
					animation: jump 0.6s infinite;
				}

				.dot::before {
					content: "";
					position: absolute;
					bottom: -5px;
					left: 20%;
					transform: translateX(-50%);
					width: 10px;
					height: 4px;
					background-color: rgba(173, 44, 237, 0.2);
					border-radius: 50%;
					opacity: 0.6;
					z-index: -1;
					animation: shadow 0.6s infinite;
				}

				.dot:nth-child(2) {
					animation-delay: 0.2s;
				}

				.dot:nth-child(2)::before {
					animation-delay: 0.2s;
				}

				.dot:nth-child(3) {
					animation-delay: 0.4s;
				}

				.dot:nth-child(3)::before {
					animation-delay: 0.4s;
				}

				@keyframes jump {
					0%,
					100% {
						transform: translateY(0) scaleY(1);
					}

					20%,
					80% {
						transform: translateY(-5px) scaleY(1.6);
					}

					40% {
						transform: translateY(-10px) scaleY(1);
					}

					60% {
						transform: translateY(-5px) scaleY(0.8);
					}
				}

				@keyframes shadow {
					0%,
					100% {
						opacity: 0.6;
						transform: scaleY(1);
					}

					20%,
					80% {
						opacity: 0.3;
						transform: scaleY(1.5);
					}

					40% {
						opacity: 0;
						transform: scaleY(2);
					}

					60% {
						opacity: 0.3;
						transform: scaleY(1.5);
					}
				}
			}
				}
				.changeRecomm {
					margin-top: 10px;
					text-align: center;
					line-height: 20px;
					display: flex;
					justify-content: end;
					cursor: pointer;
					&:hover{
						span{
							color: #5747ff;
						}
						svg{
							transform:rotate(-180deg) scale(1.3);
							path{
								fill:#5240ff
							}
						}

					}
					svg{
						transform: scale(1.1);
						transition: all .5s;
						margin-top: 3px;
					}
					span{
						margin-left: 5px;
					}
				}
			}

			.message,
			.user-message {
				background-color: #fff;
				border-radius: 20px;
				max-width: 800px !important;
				border-radius: 6px 20px 20px 20px;
				margin-top: 20px;

				p {
					font: 16px/25px -apple-system, Arial, Helvetica, sans-serif;
					margin-bottom: 12px;
					color: #1e1f24;
					text-align: justify;
					font-weight: 500;
				}
			}

			.chat-message {
				background-color: #fff;
				border-radius: 20px;
				width: max-content;
				max-width: 800px !important;
				border-radius: 6px 20px 20px 20px;
				margin-top: 20px;

				p {
					font: 16px/25px -apple-system, Arial, Helvetica, sans-serif;
					color: #1e1f24;
					text-align: justify;
					font-weight: 400;
					padding: 13px 19px;
				}
			}

			.chat-position-question {
				display: flex;
				justify-content: end;
			}

			.question {
				background-color: #7365ff;

				p {
					white-space: pre-wrap;
					display: inline-block;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					background-color: #7365ff;
					position: relative;
					font-size: 16px;
					line-height: 1.75;
					letter-spacing: 0.6px;
					color: #fafafa;
					text-align: left;
					border-radius: 20px;
					border-bottom-right-radius: 4px;
					word-break: break-all;
				}
			}

			.answer {
				position: relative;

				.content-wrapper {
					display: none;
					background: #fff;
					padding: 5px 15px 7px;
					border: 1px solid rgba(191, 208, 230, 0);
					-webkit-box-shadow: 0 8px 20px 0 rgba(179, 178, 255, 0.16);
					box-shadow: 0 8px 20px 0 rgba(179, 178, 255, 0.16);
					border-radius: 6px;
					position: absolute;
					right: 0;
					top: -20px;

					i {
						&:first-child {
							margin-left: 0;
						}

						&:hover {
							cursor: pointer;
							transform: scale(1.2);
						}

						margin-left: 17px;

						svg {
							width: 17px;
							height: 17px;
						}
					}
				}

				&:hover {
					.content-wrapper {
						display: block;
					}
				}

				.table-container {
					width: 100%;
					background-color: #fff;
					background: #fff;
					border-radius: 20px;
					border-radius: 20px;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					display: -webkit-box;
					display: -webkit-flex;
					display: flex;
					-webkit-box-orient: vertical;
					-webkit-box-direction: normal;
					-webkit-flex-direction: column;
					flex-direction: column;
					height: 100%;
					position: relative;
					padding: 0px 22px 0px;
					.icon-wrapper {
						font-weight: 500;
						display: flex;
						-webkit-box-pack: center;
						-webkit-justify-content: center;
						justify-content: center;
						-webkit-box-align: center;
						-webkit-align-items: center;
						align-items: center;
						width: 48px;
						height: 48px;
						border-radius: 50%;
						position: absolute;
						top: -25px;
						left: 25px;
						background-color: #fff;
						transition: all 0.3s;
						span {
							font-family: PingFangSC-Semibold;
							font-weight: 500;
							font-size: 19px;
							display: block;
							width: 40px;
							height: 40px;
							border-radius: 50%;
							background-color: #5240ff;
							text-align: center;
							line-height: 40px;
							color: white;
						}
					}
					.title {
						h2 {
							padding-right: 15px;
							font-size: 16px;
							font-weight: 600;
							display: -webkit-box;
							-webkit-box-orient: vertical;
							overflow: hidden;
							text-overflow: ellipsis;
							white-space: normal;
							-webkit-line-clamp: 1;
						}
					}
					.info {
						border-bottom: 1px solid #edeef0;
						padding-bottom: 16px;
						margin-top: 10px;
						.patent-number {
							font-size: 12px;
						}
						p {
							font-family: PingFangSC-Regular;
							color: #848691;
							line-height: 21px;
							font-size: 14px;
							color: #666;
							margin: 5px 0;
							span {
								font-size: 12px;
								font-weight: 600;
								color: #333;
							}
						}
					}
					.bottom {
						a {
							display: flex;
							justify-content: end;
							align-items: center;
							padding: 8px 0 12px;

							&:hover {
								h3 {
									color: #5240ff;
								}
								svg {
									width: 18px;
									height: 18px;
									color: red;
									path {
										fill: #5747ff;
									}
								}
							}
							h3 {
								color: #333;
								font-size: 14px;
								font-weight: 600;
								display: -webkit-box;
								-webkit-box-orient: vertical;
								overflow: hidden;
								text-overflow: ellipsis;
								white-space: normal;
								-webkit-line-clamp: 1;
								margin-right: 10px;
							}
							svg {
								width: 18px;
								height: 18px;
							}
						}
					}
				}

				.source {
					padding: 0px 19px 13px;
					display: flex;
					align-items: center;

					span {
						font-size: 14px;
						color: #848691;
						letter-spacing: 0;
						margin-right: 6px;
					}

					ul {
						display: flex;

						li {
							align-items: center;
							vertical-align: top;
							display: inline-block;
							background: #ebe9ff;
							border-radius: 0.04rem;
							color: #5240ff;
							border-radius: 5px;
							margin: 0 0.05rem 0.08rem 0;
							padding: 5px 8px 7px 5px;
							margin-right: 10px;

							a {
								color: #5240ff;
							}
						}
					}
				}
			}
			.bottom-wrapper {
				width: 100%;
				display: flex;
				justify-content: end;
				.button-container {
					background: #fff;
					padding: 7px 5px 6px 16px;
					border: 1px solid rgba(191, 208, 230, 0);
					-webkit-box-shadow: 0 8px 20px 0 rgba(179, 178, 255, 0.16);
					box-shadow: 0 8px 20px 0 rgba(179, 178, 255, 0.16);
					border-radius: 25px;
					right: 0;
					top: -20px;
					margin-top: 9px;
					width: max-content;
					display: flex;
					align-items: center;
					i {
						margin: 0px 10px;
						&:first-child {
							margin-left: 0;
						}

						&:hover {
							cursor: pointer;
						}
						svg {
							width: 17px;
							height: 17px;
						}
					}
					.dislike {
						position: relative;
						&:before {
							content: " ";
							position: absolute;
							left: -10px;
							top: 2px;
							width: 0;
							height: 14px;
							border-right: 1px solid #333;
							opacity: 0.4;
							color: #1e1f24;
						}
					}
				}
			}
		}

		.footer-input {
			width: 100%;
			background: transparent;
			box-sizing: border-box;
			margin: 0px auto;
			position: absolute;
			bottom: 0px;
			left: 50%;
			transform: translateX(-50%);
			padding: 15px 32px 24px;
			background: transparent;
			background: #f2f2fe;

			.jumping-dots {
				display: flex;
				justify-content: center;
				align-items: center;
				gap: 10px;
				position: relative;
				top: -10px;
				height: 15px;

				.dot {
					width: 10px;
					height: 10px;
					border-radius: 50%;
					background-color: #7359ff;
					/* dot color */
					position: relative;
					animation: jump 0.6s infinite;
				}

				.dot::before {
					content: "";
					position: absolute;
					bottom: -5px;
					left: 20%;
					transform: translateX(-50%);
					width: 10px;
					height: 4px;
					background-color: rgba(173, 44, 237, 0.2);
					border-radius: 50%;
					opacity: 0.6;
					z-index: -1;
					animation: shadow 0.6s infinite;
				}

				.dot:nth-child(2) {
					animation-delay: 0.2s;
				}

				.dot:nth-child(2)::before {
					animation-delay: 0.2s;
				}

				.dot:nth-child(3) {
					animation-delay: 0.4s;
				}

				.dot:nth-child(3)::before {
					animation-delay: 0.4s;
				}

				@keyframes jump {
					0%,
					100% {
						transform: translateY(0) scaleY(1);
					}

					20%,
					80% {
						transform: translateY(-5px) scaleY(1.6);
					}

					40% {
						transform: translateY(-10px) scaleY(1);
					}

					60% {
						transform: translateY(-5px) scaleY(0.8);
					}
				}

				@keyframes shadow {
					0%,
					100% {
						opacity: 0.6;
						transform: scaleY(1);
					}

					20%,
					80% {
						opacity: 0.3;
						transform: scaleY(1.5);
					}

					40% {
						opacity: 0;
						transform: scaleY(2);
					}

					60% {
						opacity: 0.3;
						transform: scaleY(1.5);
					}
				}
			}
			.input-container {
				display: flex;
				transition: all 0.3s;
			}
			.input-container-loading {
				margin-top: 8px;
				transition: all 0.3s;
			}
			.model-change-bottom {
				position: absolute;
				top: -40px;
				background: #f1f1fc;
				padding: 10px 20px;
				border-radius: 10px;
				.model-redio {
				}
			}
			.model-redio-loading {
				top: -0px;
				transition: all 0.3s;
			}
			.clear-button {
				border-radius: 50%;
				width: 38px;
				cursor: pointer;
				margin-right: 10px;
				margin-top: 5px;
				i {
					border-radius: 50%;
					width: 38px;
					height: 38px;
					font-size: 20px;
					line-height: 38px;
					text-align: center;
					color: #fff;
					color: #7359ff;
					background-image: linear-gradient(-49deg, #7359ff, #cfd0ff);
					position: relative;
					display: block;
					margin-right: 10px;

					svg {
						position: absolute;
						top: 48%;
						left: 50%;
						transform: translate(-50%, -50%);
						// transform:
					}

					.icon-loading {
						transform-origin: center;
						animation: rotate 1.3s linear infinite;
					}
				}
			}
			.text-input-right {
				-webkit-box-flex: 1;
				-webkit-flex: 1;
				flex: 1;
				line-height: 0;
				padding: 10px 0;
				padding-right: 50px;
				font-family: Arial, Helvetica, sans-serif;
				text-align: center;
				color: #2c3e50;
				position: relative;
				height: auto;
				-webkit-box-sizing: border-box;
				box-sizing: border-box;
				background: #fff;
				font-family: Arial, Helvetica, sans-serif;
				-webkit-box-shadow: 0 4px 16px 0 rgba(179, 178, 255, 0.3);
				box-shadow: 0 4px 16px 0 rgba(179, 178, 255, 0.3);
				display: -webkit-box;
				display: -webkit-flex;
				display: flex;
				overflow: initial;
				width: 100%;
				border-radius: 20px;
				z-index: 20;
				textarea {
					border: none;
					width: 90%;
					caret-color: #5240ff;
					-webkit-caret-color: #5240ff;
					resize: none;
					font-size: 16px;
					height: 26px;
					line-height: 26px;
					padding-left: 0;
					color: #1e1f24;
					-webkit-box-sizing: border-box;
					box-sizing: border-box;
					font-family: Arial, Helvetica, sans-serif;
					overflow-y: hidden;
					overflow: overlay;
					width: 100%;
					border: none;
					outline: none;
					word-break: break-word;
					background: transparent;
				}
				.send-message {
					border-radius: 50%;
					width: 38px;
					height: 38px;
					font-size: 20px;
					line-height: 38px;
					text-align: center;
					color: #fff;
					color: #7359ff;
					margin-right: -50px;
					background-image: linear-gradient(-49deg, #7359ff, #cfd0ff);
					position: relative;
					position: absolute;
					right: 55px;
					bottom: 4px;

					svg {
						position: absolute;
						top: 48%;
						left: 50%;
						transform: translate(-50%, -50%) rotate(-90deg);
						// transform:
					}

					.icon-loading {
						transform-origin: center;
						animation: rotate 1.3s linear infinite;
					}

					@keyframes rotate {
						0% {
							transform: translate(-50%, -50%) rotate(-90deg) rotateX(0deg);
						}

						100% {
							transform: translate(-50%, -50%) rotate(-90deg) rotateX(360deg);
						}
					}

					&:hover {
						cursor: pointer;
					}
				}
			}
		}
	}
	.patent-list {
		height: 100%;
		overflow-y: auto;
		padding: 15px 26px 0 16px;
		ul {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			padding-bottom: 30px;
			&:after {
				content: "";
				width: 30%;
			}
		}
	}
}
