* {
  font-family: Meiryo, sans-serif !important;
  box-sizing: border-box;
  outline: none;
  vertical-align: middle;
}
.el-pagination .el-select .el-input {
  width: 120px;
}
a {
  text-decoration: none !important;
  cursor: pointer;
}
html {
  width: 100%;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  background-color: #f9fbff;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
a,
p,
ul {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}
.body {
  /* margin: 0px 0px 100px; */
  background-color: #f9fbff;
}
body,
html {
  width: 100%;
  font-size: 14px;
  margin: 0px;
  padding: 0px;
  background-color: #f9fbff;
}
.h1,
.h2,
.h3,
h1,
h2,
h3 {
  margin-top: 0px;
  margin-bottom: 0px;
}
.html {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.clear {
  clear: both;
}
a,
p,
ul {
  padding: 0px;
  text-decoration: none;
  list-style: none;
  margin: 0px;
}
* {
  margin: 0px;
  padding: 0px;
}
.body {
  /* margin: 0px 0px 100px; */
  background-color: #f9fbff;
}
