-var time=new Date().getTime();
doctype html
html(lang="zh-CN")
    block head
        include ./head.jade
        block style
    block body
        body(id="#{body_id}")
            .main#app(v-cloak)
                block main
            script(src="./js/http.js?v=#{time}")
            block script