extends ./index_tp.jade
prepend head
  - var title = "化物所首页";
prepend body
  - var body_id = "index";
  - var path = "index";
block main
    template.
        <div class="body">
            <div class="clean-energy">
                <div class="comprehensive-energy-knowledge">
                    <img width="100%" src="./img/battery/banner.png" alt="">
                </div>
                
                <div class="layout company-profile-container">
                    <div class="profile-container">
                      <div class="profile-item">
                            <div class="text">
                                <div class="tool-title">
                                    <h2>洁净能源</h2>
                                    <p>clean energy</p>
                                </div>
                            </div>
                        </div>
                        <div class="clean-energy-container">
                            <div class="clean-energy-body">
                                <div class="tag-list energy-supply">
                                    <div class="title">
                                        <h3>能源供给</h3>
                                    </div>
                                    <ul class="tag-group">
                                        <li>
                                            <h5 class="tag-title"><span>•</span>  可再生能源  <span>•</span></h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title"><span>•</span> 氢能 <span>•</span></h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title"><span>•</span> 核电及核能非电利用 <span>•</span> </h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tag-list energy-consumptiony">
                                    <div class="title">
                                        <h3>能源消费</h3>
                                    </div>
                                    <ul class="tag-group">
                                        <li>
                                            <h5 class="tag-title"><span>•</span>  可再生能源  <span>•</span></h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title"><span>•</span> 氢能 <span>•</span></h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title"><span>•</span> 核电及核能非电利用 <span>•</span> </h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title"><span>•</span> 核电及核能非电利用 <span>•</span> </h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                                <div class="tag-list carbon-sequestration">
                                    <div class="title">
                                        <h3>固碳</h3>
                                    </div>
                                    <ul class="tag-group">
                                        <li>
                                            <h5 class="tag-title">可再生能源</h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title">可再生能源</h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                        <li>
                                            <h5 class="tag-title">可再生能源</h5>
                                            <ul class="tag">
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                                <li>
                                                    <img src="./img/clean-icon/wind-icon.png" alt="">
                                                    <p>风能</p>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
block script
  script(src="./js/index.js?v=#{time}")
