extends ./index_tp.jade
prepend head
  - var title = "化物所首页";
prepend body
  - var body_id = "index";
  - var path = "index";
block main
    template.
        <div class="body">
            <div class="coal-to-ethanol">
                <div class="comprehensive-energy-knowledge">
                    <img width="100%" src="./img/coal-banner.png" alt="">
                </div>
                <div class="layout company-profile-container">
                    <div class="profile-container">
                      <div class="profile-item">
                        <div class="text">
                            <div class="tool-title">
                                <h2>煤制乙醇技术</h2>
                                <p>Coal to ethanol technology</p>
                            </div>
                        </div>
                        <div class="coal-container">
                            <div class="line-bgi">
                                <img width="632px" src="./img/bg-line.png.png" alt="">
                            </div>
                            <div class="coal-text">
                                <div class="coal corners-50 label1">
                                    <img src="./img/icon/coal-icon.png" alt="">
                                    <h2>煤</h2>
                                </div>
                                <div class="coal corners-10 label2">
                                    <img src="./img/icon/coal-co+h2-icon.png" alt="">
                                    <div>
                                        <h2>煤合成气</h2> 
                                        <h2>CO+H2</h2> 
                                    </div>
                                </div>
                                <div class="coal corners-50 label3">
                                    <img src="./img/icon/coal-methanol-icon.png" alt="">
                                    <h2>甲醇</h2>
                                </div>
                                <div class="coal corners-50 label4">
                                    <img src="./img/icon/coal-ester-icon.png" alt="">
                                    <h2>醋酸甲酯</h2>
                                </div>
                                <div class="coal corners-50 label5">
                                    <img src="./img/icon/coal-acetate-icon.png" alt="">
                                    <h2>醋酸乙酯</h2>
                                </div>
                                <div class="coal corners-50 label6">
                                    <img src="./img/icon/coal-cho-icon.png" alt="">
                                    <h2>乙醇</h2>
                                </div>
                            </div>
                            <div class="coal-tag">
                                <div class="tag tag1">
                                    <a href="">
                                        <h2>合成气生物法制乙醇<span>（110件专利）</span></h2>
                                    </a>
                                </div>
                                <div class="tag tag2">
                                    <a href="">
                                        <h2>煤经合成气一步法制乙醇<span>（2390件专利）</span></h2>
                                    </a>
                                </div>
                                <div class="tag tag3">
                                    <a href="">
                                        <h2>甲醇基化制乙酸 </h2>
                                        <h2>乙酸加氢转制乙醇 <span>（320件专利）</span></h2>
                                    </a>
                                </div>
                                <div class="tag tag4">
                                    <a href="">
                                        <h2>煤经二甲醚基化制乙酸醋</span></h2>
                                        <h2>乙酸甲醋加氢制乙醇<span>（120件专利）</span></h2>
                                    </a>
                                </div>
                            </div>
                            <div class="coal-operation">
                                <span class="operation operation1">加氢</span>
                                <span class="operation operation2">发酵</span>
                                <span class="operation operation3">加氢</span>
                                <span class="operation operation4">加氢</span>
                            </div>
                        </div>
                      </div>
                    </div>
                    
                </div>
            
            </div>
        </div>
block script
  script(src="./js/index.js?v=#{time}")
