extends ./index_tp.jade
prepend head
    - var title = "专利首页";
prepend body
    - var body_id = "index";
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
block main
    template.
        <div class="diskDuck"></div>
        <div class="body">
            <div class="energy-knowledge">
                <div class="comprehensive-energy-knowledge">
                    <img width="100%" src="./img/energy-news-bg.png" alt="">
                    <div class="comprehensive-text">

                        <h1>能源知识   一手掌握</h1>
                        <h4>Comprehensive energy knowledge</h4>
                    </div>
                </div>
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <i style="color: #999" class="bi bi-geo-alt"></i>
                        <li><a href="#">网站首页</a></li>
                        <li class="active">能演政策</li>
                    </ul>
                </div>
                <div class="layout energy-knowledge-body">
                    <div class="energy-pllicy">
                        <div class="text">
                            <div class="tool-title">
                                <h2>能源政策</h2>
                                <p>energy policy</p>
                            </div>
                            <div class="news-list">
                                <ul>
                                    <li>
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                    </li>
                                    <li>
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                    </li>
                                    <li>
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                    </li>
                                    <li>
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                    </li>
                                </ul>
                                    <a>
                                        <div class="button-title">
                                            <h3>查看更多能源政策</i></h3>
                                            <p>See more</p>
                                        </div>
                                        <i class="bi bi-chevron-right"></i>
                                     </a>
                            </div>
                        </div>
                        <div class="news-details">
                            <img src="./img/news-details.jpg" alt="">
                            <div class="news-details-text">

                                <h4>标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能 源政策掌握最好、 </p>
                                <span>2022-11-11</span>
                            </div>
                        </div>
                    </div>
                    <div class="energy-news">
                        <div class="text">
                            <div class="tool-title">
                                <h2>能源新闻</h2>
                                <p>Patent Search</p>
                            </div>
                            <a href="#" class="link-button">了解更多<i class="el-icon-arrow-right"></i></a>
                        </div>
                        <div class="news-details">
                            <img width="100%" src="./img/energy-news-bg.png" alt="">
                            <div class="news-details-text">
                                <ul>
                                    <li>
                                        <div class="data">
                                            <h2>09-22</h2>
                                            <span>2022</span>
                                        </div>
                                        <div class="detail">
                                            <span>科技创新建议</span>
                                            <h4>标题标题标题标题标题标题标题标题 标题标题标题标题</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="data">
                                            <h2>09-22</h2>
                                            <span>2022</span>
                                        </div>
                                        <div class="detail">
                                            <span>科技创新建议</span>
                                            <h4>标题标题标题标题标题标题标题标题 标题标题标题标题</h4>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="data">
                                            <h2>09-22</h2>
                                            <span>2022</span>
                                        </div>
                                        <div class="detail">
                                            <span>科技创新建议</span>
                                            <h4>标题标题标题标题标题标题标题标题 标题标题标题标题</h4>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
               
                <div class="expert-opinion">
                    <div class="tool-title">
                        <h2>专家观点</h2>
                        <p>expert opinion</p>
                    </div>
                    <div class="patent-search-content">
                        <ul class="fix-container">
                            <li class="patent-search-content-item">
                                <img src="./img/energy-expert-opinion.jpg" alt="">
                                <div class="info">
                                    <h3>解振华</h3>
                                    <h4>职务：中国气候变化事务特使</h4>
                                    <p>我匡正在制定碳达峰碳中和“1+N"的政策体系,将在十个领域采取加速转型和创新的政策措施和行动。</p>
                                    <a href="#" class="link-button">查看详情</a>
                                </div>
                            </li>
                            <li class="patent-search-content-item">
                                <img src="./img/energy-expert-opinion.jpg" alt="">
                                <div class="info">
                                    <h3>解振华</h3>
                                    <h4>职务：中国气候变化事务特使</h4>
                                    <p>我匡正在制定碳达峰碳中和“1+N"的政策体系,将在十个领域采取加速转型和创新的政策措施和行动。</p>
                                    <a href="#" class="link-button">查看详情</a>
                                </div>
                            </li>
                            <li class="patent-search-content-item">
                                <img src="./img/energy-expert-opinion.jpg" alt="">
                                <div class="info">
                                    <h3>解振华</h3>
                                    <h4>职务：中国气候变化事务特使</h4>
                                    <p>我匡正在制定碳达峰碳中和“1+N"的政策体系,将在十个领域采取加速转型和创新的政策措施和行动。</p>
                                    <a href="#" class="link-button">查看详情</a>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="more-button">

                        <a href="#" class="link-button">了解更多 ></a>
                    </div>
                </div>
                <div class="layout energy-knowledge-body">
                    <div class="policy-interpretation">
                        <div class="text">
                            <div class="tool-title">
                                <h2>政策解读 </h2>
                                <p>Policy interpretation</p>
                            </div>
                            <a href="#" class="link-button">了解更多<i class="el-icon-arrow-right"></i></a>
                        </div>
                        <div class="news-details">
                            <div class="news-details-text">
                                <ul>
                                    <li>
                                        <img src="./img/energy-policy-interpretation.jpg" alt="">
                                        <h3>标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>我匡正在制定碳达峰碳中和“1+N"的政策体系,将在十 个领域采取加速转型和创新的政策措施和行动。</p>
                                        <a href="#" class="link-button">查看详情</a>
                                    </li>
                                    <li>
                                        <img src="./img/energy-policy-interpretation.jpg" alt="">
                                        <h3>标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>我匡正在制定碳达峰碳中和“1+N"的政策体系,将在十 个领域采取加速转型和创新的政策措施和行动。</p>
                                        <a href="#" class="link-button">查看详情</a>
                                    </li>
                                    <li>
                                        <img src="./img/energy-policy-interpretation.jpg" alt="">
                                        <h3>标题标题标题标题标题标题标题标题标题标题</h3>
                                        <p>我匡正在制定碳达峰碳中和“1+N"的政策体系,将在十 个领域采取加速转型和创新的政策措施和行动。</p>
                                        <a href="#" class="link-button">查看详情</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="video-interpretation">
                        <div class="text">
                            <div class="tool-title">
                                <h2>视频解读</h2>
                                <p>Video interpretation</p>
                            </div>
                            <a href="#" class="link-button">了解更多<i class="el-icon-arrow-right"></i></a>
                        </div>
                        <div class="news-details">
                            <div class="news-details-text">
                                <div class="video-info">
                                    <video controls>
                                        <source src="http://energy.dicp.ac.cn/energyFile/webFile/websiteHomepageVideoAnalysis/2022-11/36/%E4%B9%8C%E9%87%91%E5%8F%98%E7%BB%BF%E8%83%BD_20221114003920999.mp4" type="video/mp4">
                                    </video>
                                    <h3>2022·新突破——乌金变绿能</h3>
                                    <p>在我们的生产生活当中，很多地方都会用到酒精，而酒精的传统制造方式所需要的 原料是粮食。然而，科学家们找到了一个新的办法，让煤炭变酒精。那么，他们究 竟是如何做到的？ （《透视新科技》 20221018 2022·新突破（2）乌金变绿能） </p>
                                </div>
                                <ul>
                                    <li>
                                        <a href="">
                                        <img src="./img/energy-expert-video-list.jpg" alt="">
                                        <div class="more-video-info">
                                            <h3>2022·新突破——乌金变绿能 拷贝</h3>
                                            <p>在我们的生产生活当中，很多地方都会用到酒精，而酒精的传统制造 方式所需要的原料是粮食。然而，科学家们找到了一个新的办法，让 煤</p>
                                        </div>   
                                    </a>
                                    </li>
                                    <li>
                                        <a href="">
                                        <img src="./img/energy-expert-video-list.jpg" alt="">
                                        <div class="more-video-info">
                                            <h3>2022·新突破——乌金变绿能 拷贝</h3>
                                            <p>在我们的生产生活当中，很多地方都会用到酒精，而酒精的传统制造 方式所需要的原料是粮食。然而，科学家们找到了一个新的办法，让 煤</p>
                                        </div>   
                                    </a>
                                    </li>
                                    <li>
                                        <a href="">
                                        <img src="./img/energy-policy-interpretation.jpg" alt="">
                                        <div class="more-video-info">
                                            <h3>2022·新突破——乌金变绿能 拷贝</h3>
                                            <p>在我们的生产生活当中，很多地方都会用到酒精，而酒精的传统制造 方式所需要的原料是粮食。然而，科学家们找到了一个新的办法，让 煤</p>
                                        </div>   
                                    </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
block script
    script(src="./js/patent-index.js?v=#{time}")
