extends ./index_tp.jade
prepend head
  - var title = "化物所首页";
prepend body
  - var body_id = "index";
  - var path = "index";
block main
    template.
        <div class="body">
            <div class="index-page">
                <div class="comprehensive-energy-knowledge">
                    <img width="100%" src="./img/energy-news-bg.png" alt="">
                    <div class="comprehensive-text">
                        <h1>能源知识   一手掌握</h1>
                        <h4>Comprehensive energy knowledge</h4>
                    </div>
                </div>
                <div class="breadcrumb-container">
                    <ul class="breadcrumb">
                        <i style="color: #999" class="bi bi-geo-alt"></i>
                        <span style="color: #999">当前位置 :</span> 
                        <li><a href="#">网站首页</a></li>
                        <li class="active">能源政策</li>
                    </ul>
                </div>
                <div class="layout index-page">
                    <div class="energy-pllicy">
                        <div class="text">
                            <div class="tool-title">
                                <h2>能源新闻/政策</h2>
                                <p>energy policy</p>
                            </div>
                            <div class="news-list">
                                <ul>
                                    <li class="data-container">
                                        <div class="time">
                                          <span class="day">25</span>
                                          <span class="date">2022年12月</span>
                                        </div>
                                        <div class="news-title">
                                          <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                          <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                        </div>
                                    </li>
                                    <li class="data-container">
                                        <div class="time">
                                          <span class="day">25</span>
                                          <span class="date">2022年12月</span>
                                        </div>
                                        <div class="news-title">
                                          <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                          <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                        </div>
                                    </li>
                                    <li class="data-container">
                                        <div class="time">
                                          <span class="day">25</span>
                                          <span class="date">2022年12月</span>
                                        </div>
                                        <div class="news-title">
                                          <h3>标题标题标题标题标题标题标题标题标题标题标题标题</h3>
                                          <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、 最全面的能源政策掌握最好、最全面的能</p>
                                        </div>
                                    </li>
                                </ul>
                                    <a>
                                        <div class="button-title">
                                            <h3>查看更多能源政策</i></h3>
                                            <p>See more</p>
                                        </div>
                                        <i class="bi bi-chevron-right"></i>
                                     </a>
                            </div>
                        </div>
                        <div class="news-details">
                            <img src="./img/news-details.jpg" alt="">
                            <div class="news-details-text">

                                <h4>标题标题标题标题标题标题标题标题标题标题标题标题</h4>
                                <p>掌握最好、最全面的能源政策掌握最好、最全面的能源政策掌握最好、最全面的能 源政策掌握最好、 </p>
                                <span>2022-11-11</span>
                                
                            </div>
                        </div>
                    </div>
                    
                    <div class="patent-search">
                        <div class="tool-title">
                            <h2>专利检索</h2>
                            <p>Patent Search</p>
                        </div>
                        <div class="patent-search-content">
                            <ul class="fix-container">
                                <li class="patent-search-content-item">
                                    <h3>能源工具</h3>
                                    <img src="./img/index-page-tools1.jpg" alt="">
                                    <p>详细介绍详细介绍详细介绍详细介绍详 细介绍详细介绍详细介绍详细介绍详细 介绍详细介绍</p>
                                </li>
                                <li class="patent-search-content-item">
                                    <h3>专利导航</h3>
                                    <img src="./img/index-page-tools1.jpg" alt="">
                                    <p>详细介绍详细介绍详细介绍详细介绍详 细介绍详细介绍详细介绍详细介绍详细 介绍详细介绍</p>
                                </li>
                                <li class="patent-search-content-item">
                                    <h3>我们的工作</h3>
                                    <img src="./img/index-page-tools1.jpg" alt="">
                                    <p>详细介绍详细介绍详细介绍详细介绍详 细介绍详细介绍详细介绍详细介绍详细 介绍详细介绍</p>
                                </li>
                                <li class="patent-search-content-item">
                                    <h3>能源研究</h3>
                                    <img src="./img/index-page-tools1.jpg" alt="">
                                    <p>详细介绍详细介绍详细介绍详细介绍详 细介绍详细介绍详细介绍详细介绍详细 介绍详细介绍</p>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="news-peport">
                      <ul class="news-peport-container">
                        <li class="flex-container-item">
                          <div class="title">
                            <h3>新闻<span>NEW</span></h3>
                            <a>查看全部 ></a>
                          </div>
                          <div class="text-list-container">
                            <ul class="text-list">
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                        <li class="flex-container-item">
                          <div class="title">
                            <h3>新闻<span>NEW</span></h3>
                            <a>查看全部 ></a>
                          </div>
                          <div class="text-list-container">
                            <ul class="text-list">
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                              <li class="text-item">
                                <a href="">
                                  <h4>标题标题标题标题标题标题标题标题标题标题标题标题标题标题标题标</h4>
                                  <p>2020-10-10</p>
                                </a>
                              </li>
                            </ul>
                          </div>
                        </li>
                      </ul>
                    </div>
                   
                    <div class="research-direction">
                      <div class="tool-title">
                          <h2>研究方向</h2>
                          <p>Research direction</p>
                      </div>
                      <div class="patent-search-content">
                          <ul class="fix-container">
                              <li class="patent-search-content-item">
                                  <h3>能源工具</h3>
                                  <ul>
                                    <li><a href="#">煤炭开采</a></li>
                                    <li><a href="#">煤炭燃烧</a></li>
                                    <li><a href="#">化工</a></li>
                                    <li><a href="#">融合技术</a></li>
                                  </ul>
                              </li>
                              <li class="patent-search-content-item">
                                  <h3>可再生能源</h3>
                                  <ul>
                                    <li><a href="#">太阳能</a></li>
                                    <li><a href="#">风能</a></li>
                                    <li><a href="#">水能</a></li>
                                    <li><a href="#">生物质能</a></li>
                                    <li><a href="#">核能</a></li>
                                  </ul>
                              </li>
                              <li class="patent-search-content-item">
                                  <h3>工业流程再造</h3>
                                  <ul>
                                    <li><a href="#">化工</a></li>
                                    <li><a href="#">冶金</a></li>
                                    <li><a href="#">建材 </a></li>
                                  </ul>
                              </li>
                              <li class="patent-search-content-item">
                                  <h3>智慧能源</h3>
                                  <ul>
                                    <li><a href="#">交通运输</a></li>
                                    <li><a href="#">建筑</a></li>
                                    <li><a href="#">智能电网</a></li>
                                  </ul>
                              </li>
                          </ul>
                      </div>
                  </div>
                </div>
            </div>
        </div>
block script
  script(src="./js/index.js?v=#{time}")
