-var time=new Date().getTime();
doctype html
html(lang="zh-CN")
  block head
    include ./head.jade
    block style
  block body
    body(id="#{body_id}")
      .main#app
        el-container(direction="vertical")
          div
            h-header
          block main
          div
            h-footer
      block script