extends ./index_tp2.jade
prepend head
  - var title = "登录页面";
prepend body
  - var body_id = "login";
block style
  link(rel="stylesheet" href="./css/login.css")     
block script
  script(src="./js/login.js?v=#{time}")
  block main
      template.
        <div class="login-container">
            <div class="login-view-container">
                <div class="login-logo">
                    <img width="100%" src="./img/login-logo.png" alt="">
                </div>
                <div class="login-form">
                    <h3>登录</h3>
                    <template>
                        <div class="select-login-type">
                            <span>请选择注册类型 ： </span>
                            <el-radio-group v-model="radio">
                              <el-radio :label="'user'">普通用户</el-radio>
                              <el-radio :label="'ding'">化物所内部用户</el-radio>
                            </el-radio-group>
                        </div>
                    </template>
                    <div class="form-container">
                        <div class="input-container" :style="radio === 'user' ? '':'display: none;'">
                            <div class="input-item">

                                <div class="el-input">
                                    <input type="text" autocomplete="off" placeholder="请输入手机号码 " class="el-input__inner">
                                </div>
                                <div class="el-input">
                                    <input type="text" autocomplete="off" placeholder="请输入手机号码 " class="el-input__inner">
                                </div>
                                <span>忘记密码</span>
                            </div>
                            <div class="buttom-container">
                                <button type="button" class="el-button el-button--primary">
                                    <span>登录</span>
                                </button>
                                
                                <button type="button" class="el-button el-button">
                                    <span>还没有账号？立即注册</span>
                                </button>
                            </div>
                        </div>
                        <div class="dingLogin-container" :style="radio === 'ding' ? '':'display: none;'">
                            <div id="login_container" style="display: grid; justify-content: center">
                                <img width="100%" src="./img/dingding-login.jpg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>