extends ./index_tp.jade
prepend head
    - var title = "专利首页";
prepend body
    - var body_id = "index";
    - var path = "research-findings.html";
    script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
    script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
block main
    template.
        <div class="body">
            <div class="research-findings">
                <div class="research-findings-header">
                    <img src="./img/patent-search-bg.png" alt="">
                </div>
                <div class="research-findings-body layout">
                    <div class="tool-title">
                        <h2>研究成果</h2>
                        <p>research findings</p>
                    </div>
                    <div class="article">
                        <div class="text">
                            <div class="tool-title">
                                <h2>文章</h2>
                                <p>article</p>
                            </div>
                            <a href="#" class="link-button">了解更多<i class="el-icon-arrow-right"></i></a>
                        </div>
                        <div class="articel-container">
                            <ul>
                                <li>
                                    <div class="title-container">
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题…</h3>
                                        <div class="icon">
                                            <span class="view">阅读</span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="article-info">
                                        <span class="span1">标签名称</span>
                                        <span class="span2">标签名称</span>
                                        <div class="info">
                                            <span class="date">2022-09-09</span>
                                            <span class="auth">赵莎莎·现代经济探讨· 2022年10期·学术期刊</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情
                                            详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情
                                            详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title-container">
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题…</h3>
                                        <div class="icon">
                                            <span class="view">阅读</span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="article-info">
                                        <span class="span1">标签名称</span>
                                        <span class="span2">标签名称</span>
                                        <div class="info">
                                            <span class="date">2022-09-09</span>
                                            <span class="auth">赵莎莎·现代经济探讨· 2022年10期·学术期刊</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情
                                            详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情
                                            详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title-container">
                                        <h3>标题标题标题标题标题标题标题标题标题标题标题标题…</h3>
                                        <div class="icon">
                                            <span class="view">阅读</span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="article-info">
                                        <span class="span1">标签名称</span>
                                        <span class="span2">标签名称</span>
                                        <div class="info">
                                            <span class="date">2022-09-09</span>
                                            <span class="auth">赵莎莎·现代经济探讨· 2022年10期·学术期刊</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <p>详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情
                                            详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情
                                            详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情详情</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="patent">
                        <div class="text">
                            <div class="tool-title">
                                <h2>专利</h2>
                                <p>patent</p>
                            </div>
                            <a href="#" class="link-button">了解更多<i class="el-icon-arrow-right"></i></a>
                        </div>
                        <div class="patent-container">
                            <ul>
                                <li>
                                    <div class="title-container">
                                        <div class="title">
                                            <h3>CN114709456A</h3>
                                            <span class="span1">标签名称</span>
                                            <span class="span2">有效</span>
                                        </div>
                                        <div class="icon">
                                            <span class="view"><a>阅读</a></span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3>一种深海作业平台燃料电池能源系统</h3>
                                        <div class="info">
                                            <span class="date">发表时间：2022-09-09</span>
                                            <span class="auth">作者：李运生;张彦虎；杨宗军；周辉</span>
                                        </div>
                                        <p>来源：齐鲁云商数字科技股份有限公司</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title-container">
                                        <div class="title">
                                            <h3>CN114709456A</h3>
                                            <span class="span1">标签名称</span>
                                            <span class="span2">有效</span>
                                        </div>
                                        <div class="icon">
                                            <span class="view">阅读</span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3>一种深海作业平台燃料电池能源系统</h3>
                                        <div class="info">
                                            <span class="date">发表时间：2022-09-09</span>
                                            <span class="auth">作者：李运生;张彦虎；杨宗军；周辉</span>
                                        </div>
                                        <p>来源：齐鲁云商数字科技股份有限公司</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title-container">
                                        <div class="title">
                                            <h3>CN114709456A</h3>
                                            <span class="span1">标签名称</span>
                                            <span class="span2">有效</span>
                                        </div>
                                        <div class="icon">
                                            <span class="view">阅读</span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3>一种深海作业平台燃料电池能源系统</h3>
                                        <div class="info">
                                            <span class="date">发表时间：2022-09-09</span>
                                            <span class="auth">作者：李运生;张彦虎；杨宗军；周辉</span>
                                        </div>
                                        <p>来源：齐鲁云商数字科技股份有限公司</p>
                                    </div>
                                </li>
                                <li>
                                    <div class="title-container">
                                        <div class="title">
                                            <h3>CN114709456A</h3>
                                            <span class="span1">标签名称</span>
                                            <span class="span2">有效</span>
                                        </div>
                                        <div class="icon">
                                            <span class="view">阅读</span>
                                            <span class="download">下载</span>
                                        </div>
                                    </div>
                                    <div class="content">
                                        <h3>一种深海作业平台燃料电池能源系统</h3>
                                        <div class="info">
                                            <span class="date">发表时间：2022-09-09</span>
                                            <span class="auth">作者：李运生;张彦虎；杨宗军；周辉</span>
                                        </div>
                                        <p>来源：齐鲁云商数字科技股份有限公司</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="research-findings-layout">
                    <div class="layout">
                        <div class="carbon">
                            <div class="text">
                                <div class="tool-title">
                                    <h2>武汉文情中心的双碳情报</h2>
                                    <p>Double carbon information</p>
                                </div>
                                <a href="#" class="link-button">了解更多<i class="el-icon-arrow-right"></i></a>
                            </div>
                            <div class="articel-container">
                                <ul>
                                    <li>
                                        <div class="img-container">
                                            <img src="./img/carbon-book.jpg" alt="">
                                        </div>
                                        <div class="carbon-container">
                                            <div class="title-container">
                                                <h3>碳中和行动舆情监测快报2022年第31期</h3>
                                            </div>
                                            <div class="article-info">
                                                <span class="date">发布年度   2022</span>
                                            </div>
                                            <div class="content">
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="img-container">
                                            <img src="./img/carbon-book.jpg" alt="">
                                        </div>
                                        <div class="carbon-container">
                                            <div class="title-container">
                                                <h3>碳中和行动舆情监测快报2022年第31期</h3>
                                            </div>
                                            <div class="article-info">
                                                <span class="date">发布年度   2022</span>
                                            </div>
                                            <div class="content">
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="img-container">
                                            <img src="./img/carbon-book.jpg" alt="">
                                        </div>
                                        <div class="carbon-container">
                                            <div class="title-container">
                                                <h3>碳中和行动舆情监测快报2022年第31期</h3>
                                            </div>
                                            <div class="article-info">
                                                <span class="date">发布年度   2022</span>
                                            </div>
                                            <div class="content">
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="img-container">
                                            <img src="./img/carbon-book.jpg" alt="">
                                        </div>
                                        <div class="carbon-container">
                                            <div class="title-container">
                                                <h3>碳中和行动舆情监测快报2022年第31期</h3>
                                            </div>
                                            <div class="article-info">
                                                <span class="date">发布年度   2022</span>
                                            </div>
                                            <div class="content">
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                                <p>习近平在《求是》杂志发表重要文章《努力建设人与自然和谐共生的现代化》，指出我国现代化是人与自然和谐共生的现代化，注重同步推进物质文明建设和生态文明建设。</p>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
block script
    script(src="./js/research-direction.js?v=#{time}")
