extends ./index_tp.jade
prepend head
  - var title = "化学分析工具";
prepend body
  - var body_id = "index";
  script(src="./js/jquery-3.3.1.js?v=#{time}")
  script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
  script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
block main
  template.
    <div class="diskDuck"></div>
    <div class="body">
        <div class="breadcrumb-container">
            <ul class="breadcrumb">
                <i style="color: #999" class="bi bi-geo-alt"></i>
                <li><a href="#">首页</a></li>
                <li><a href="#">工具</a></li>
                <li class="active">化工分析</li>
            </ul>
        </div>
        <div class="tool-chemistry-container">
            <div class="tool">
                <div class="tab-button">
                    <ul id="myTab" class="nav nav-tabs">
                        <li class="active">
                            <a href="#home" data-toggle="tab"> 全景图与介绍 </a>
                        </li>
                        <li><a href="#ios" data-toggle="tab">煤制合成气</a></li>
                        <li><a href="#ios" data-toggle="tab">煤制甲醇</a></li>
                        <li><a href="#ios" data-toggle="tab">煤制烯烃</a></li>
                        <li><a href="#ios" data-toggle="tab">绿氢融合</a></li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                        <div class="tab-pane fade in active" id="home">
                            <div class="caver">
                                <img src="./img/tool-demo.png" alt="" />
                            </div>
                        </div>
                        <div class="tab-pane fade" id="ios">
                            <div class="caver">
                                <img src="./img/tool-demo.png" alt="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="tool-container">
                    <div class="tool-form">
                        <div class="tool-form-flex">
                            <div class="input-parameter">
                                <h3><i style="color: #3e8ee2" class="bi bi-thermometer-snow"></i>输入参数</h3>
                                <form role="form">
                                    <div class="form-item">
                                        <span class="redio-span">是否利用现有装置</span>
                                        <div class="form-item-redio">
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosinline" id="optionsRadios3" value="option1" checked />
                                                <span>利用</span>
                                            </label>
                                            <label class="radio-inline">
                                                <input type="radio" name="optionsRadiosinline" id="optionsRadios4" value="option2" />
                                                <span>不利用</span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-item">
                                        <span class="input-span">甲醇产量</span>
                                        <div class="form-item-input">
                                            <input class="test-color-1" type="text" name="optionsRadiosinline" value="255" checked />
                                        </div>
                                        <span class="unit-span">&nbsp吨/小时</span>
                                        <button type="button" class="btn btn-default select-button select-button-hide">选择</button>
                                    </div>
                                    <div class="form-item">
                                        <span class="input-span">绿氢替代比例</span>
                                        <div class="form-item-input">
                                            <input class="test-color-2" type="text" name="optionsRadiosinline" value="255" checked />
                                        </div>
                                        <span class="unit-span">&nbsp%</span>
                                        <button type="button" class="btn btn-default select-button select-button-hide">选择</button>
                                    </div>
                                    <div class="form-item">
                                        <span class="input-span">扩能比例</span>
                                        <div class="form-item-input">
                                            <input class="test-color-3" type="text" name="optionsRadiosinline" value="255" checked />
                                        </div>
                                        <span class="unit-span">&nbsp%</span>
                                        <button type="button" class="btn btn-default select-button select-button-hide">选择</button>
                                    </div>
                                </form>
                            </div>
                            <div class="tool-division"></div>
                            <div class="input-parameter">
                                <h3><i style="color: #3e8ee2" class="bi bi-currency-exchange"></i>价格设置</h3>
                                <form role="form">
                                    <div class="form-item">
                                        <span class="input-span">原料煤</span>
                                        <div class="form-item-input">
                                            <input class="test-color-4" type="text" name="optionsRadiosinline" value="300" checked />
                                        </div>
                                        <span class="unit-span">&nbsp元/吨</span>
                                        <button type="button" class="btn btn-default select-button select-button-hide">选择</button>
                                    </div>
                                    <div class="form-item">
                                        <span class="input-span">电</span>
                                        <div class="form-item-input">
                                            <input type="text" class="test-color-5" name="optionsRadiosinline" value="0.65" checked />
                                        </div>
                                        <span class="unit-span">&nbsp元/吨</span>
                                        <button type="button" class="btn btn-default select-button">选择</button>
                                    </div>
                                    <div class="form-item">
                                        <span class="input-span">新鲜水</span>
                                        <div class="form-item-input">
                                            <input type="text" class="test-color-6" name="optionsRadiosinline" value="2" checked />
                                        </div>
                                        <span class="unit-span">&nbsp元/吨</span>
                                        <button type="button" class="btn btn-default select-button">选择</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="submit-button">
                            <button type="button" class="btn btn btn-primary">追加</button>
                            <button type="button" class="btn btn btn-primary">重置</button>
                        </div>
                    </div>
                    <div class="tool-table">
                        <h3><i style="color: #3e8ee2" class="bi bi-file-earmark-ruled"></i>输入参数追加明细</h3>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>甲醇产量</th>
                                        <th>绿氢替代比例</th>
                                        <th>扩能比例</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center">01</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">02</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="submit-button">
                            <button type="button" class="btn btn btn-primary">计算结果</button>
                        </div>
                    </div>
                    <div class="tool-input">
                        <h3><i style="color: #3e8ee2" class="bi bi-border-width"></i>输出结果</h3>
                        <div class="table-container">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>煤耗(万/吨年)</th>
                                        <th>碳排放（万吨/年)</th>
                                        <th>运行成本(元/吨产品)</th>
                                        <th>能源利用效率</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td style="text-align: center">01</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                    </tr>
                                    <tr>
                                        <td style="text-align: center">02</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                        <td>98765678</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
block script
  script(src="./js/tools-chemistry.js?v=#{time}")
