extends ./index_tp.jade
prepend head
  - var title = "化学分析首页";
prepend body
  - var body_id = "index";
  - var path = "tools-index";
  script(src="./js/jquery-3.3.1.js?v=#{time}")
  script(src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js")
  script(src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js")
block main
  template.
    <div class="body tool-index">
        <div class="tools-banner">
            <div id="myCarousel" class="carousel slide">
            <div class="carousel-inner">
                <div class="item active" style="width: 100%; ">
                    <div class="item-content">
                        <img src="./img/tool-more-accurate-bg.png" alt="">
                    </div>
                </div>
            </div>
            </div>
        </div>
        <div class="tool-title">
            <h2>工具</h2>
            <p>TOOL</p>
        </div>
        <div class="tool-index-container layout">
            <el-tabs tab-position="left" lazy="true">
                <el-tab-pane label="宏观数据">
                    <div slot="label" class="tab-slot">
                        <i class="bi bi-clipboard-data-fill"></i>
                        <div class="title-text">
                        <span class="label-sm">宏观数据</span>
                        <h3 class="label-lg">宏观数据</h3>
                        <p class="label-lg">Macro data</p>
                    </div>
                    </div>
                    <div class="tab-body">
                        <ul>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>煤制烯烃</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>煤制乙醇</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="化工分析示例">
                    <div slot="label" class="tab-slot">
                        <i class="bi bi-cpu-fill"></i>
                        <div class="title-text">
                            <span class="label-sm">化工分析示例</span>
                            <h3 class="label-lg">化工分析示例</h3>
                            <p class="label-lg">Chemical analysis</p>
                        </div>
                    </div>
                    <div class="tab-body">
                        <ul>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>化工分析示例</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>化工分析示例</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>化工分析示例</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="能源模型">
                    <div slot="label" class="tab-slot">
                        <i class="bi bi-diagram-2-fill"></i>
                        <div class="title-text">
                        <span class="label-sm">能源模型</span>
                        <h3 class="label-lg">能源模型</h3>
                        <p class="label-lg">Energy model</p>
                    </div>
                    </div>
                    <div class="tab-body">
                        <ul>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>能源模型</h3>
                                    <div class="text-footer">
                                        <p class="data">能源模型能源模型能源模型能源模型能源模型能源模型能源模型</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>能源模型222</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介能源模型绍详细介绍详细介绍详细介绍详细介绍详细能源模型绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>能源模型434</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>能源模型123</h3>
                                    <div class="text-footer">
                                        <p class="data">能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型能源模型</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="能源模型">
                    <div slot="label" class="tab-slot">
                        <i class="bi bi-pass-fill"></i>
                        <div class="title-text">
                        <span class="label-sm">能源模型</span>
                        <h3 class="label-lg">能源模型</h3>
                        <p class="label-lg">Energy model</p>
                    </div>
                    </div>
                    <div class="tab-body">
                        <ul>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>煤制烯烃</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>煤制乙醇</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>煤制烯烃</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>煤制乙醇</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>煤制烯烃</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>煤制乙醇</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
                <el-tab-pane label="能源模型">
                    <div slot="label" class="tab-slot">
                        <i class="bi bi-usb-micro"></i>
                        <div class="title-text">
                        <span class="label-sm">能源模型</span>
                        <h3 class="label-lg">能源模型</h3>
                        <p class="label-lg">Energy model</p>
                    </div>
                    </div>
                    <div class="tab-body">
                        <ul>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>能源模型1</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>能源模型4</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon1.png" alt="">
                                <div class="text">
                                    <h3>能源模型2</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                            <li>
                                <a href="#">
                                <img src="./img/tools-icon2.png" alt="">
                                <div class="text">
                                    <h3>能源模型3</h3>
                                    <div class="text-footer">
                                        <p class="data">详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍详细介绍</p>
                                    </div>
                                </div>

                                </a>
                            </li>
                        </ul>
                    </div>
                </el-tab-pane>
                </el-tabs>
        </div>
    </div>
block script
  script(src="./js/tools-index.js?v=#{time}")
