doctype html
html
  head
  body
    div.container.
      <p style="text-align:center;width:500px;margin:100px auto;">ご使用のInternet Explorerで当サイトを利用すると、<br />一部の機能が正しく動作しないことがあります。<br />Google Chrome などのブラウザのご利用を推奨します。</p>
